$lightblue: #aab9bf;
$darkblue: #7b92a6;
$darkbrown: #252617;
$sand: #d9b282;
$yellowsand: #f2cf8d;

.card-img {
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.venue-img {
  object-fit: cover;
  width: 600px;
  height: 400px;
}

.custom-radio {
  height: 20px;
  width: 20px;
  accent-color: $darkbrown;
}

// CSS for input number selector
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  margin: 0;
}

input#lng[type="number"]::-webkit-inner-spin-button,
input#lng[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
  margin: 0;
}

input#lat[type="number"]::-webkit-inner-spin-button,
input#lat[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
  margin: 0;
}

svg.fill-red-400,
svg.fill-lightblue {
  width: 45px;
  height: 35px;
}

#set-position {
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
}

.main-button {
  font-family: Lexend;
  color: white;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: $darkbrown;
  border-radius: 0.5rem;
}

.main-button:hover {
  color: $darkbrown;
  background-color: $sand;
}

/* Calender */

.react-calendar__tile:disabled {
  background-color: #f87171 !important ;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-calendar__tile--now:not(.react-calendar__tile--active) {
  background-color: none !important;
}

.view-only .react-calendar__month-view {
  pointer-events: none !important;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: $lightblue;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
